@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Noto+Sans+KR&display=swap');
*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: dosis, sans-serif;
    font-weight: 300;
    color:#fff;
    min-height: 100%;
}

html {
    height: 100%;
  }

.grid-container > * {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
  }

  .header {
    grid-area: header;
    background-color: #d61c95;
  }
  
  .title {
    grid-area: title;
    background-color: steelblue;
  }
  
  .main {
    grid-area: main;
    background-color: brown;
  }
  
  .footer {
    grid-area: footer;
    background-color: #8c96a0;
  }
  
  .grid-container {
    display: grid;
    gap: 10px;
    grid-template:
      "header"  150px
      "title"  150px
      "main"    auto
      "footer"  100px;
  }